@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* 모바일 화면 */
@media (max-width: 480px) {
  .main-task {
    gap: 5px;
  }

  .task {
    width: 100%;
  }

  .p {
    padding-right: 5px;
  }

  .quit_percent {
    padding-right: 5px;
  }

  .content {
    flex-direction: row;
    align-items: center;
  }

  .bar_ex {
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }

  .total_box {
    width: 100%;
    max-width: 250px;
    height: 110px;
    padding: 5px;
  }


  .progress-timeline {
    margin-right: 10px;
    padding-top: 0px;
  }

  .line {
    width: 2px; 
    height: 100px; 
    background-color: rgb(124, 124, 124); 
  }

  #root > div > div > div.footer > nav > div > div > a:nth-child(1), #root > div > div > div.footer > nav > div > div > a:nth-child(2), #root > div > div > div.footer > nav > div > div > a:nth-child(3), #root > div > div > div.footer > nav > div > div > a:nth-child(4), #root > div > div > div.footer > nav > div > div > a:nth-child(5) {
    padding-right: 14px;
    padding-left: 14px;
  }
}

* { 
  font-family:'Spoqa Han Sans Neo', 'sans-serif';;
}

/* progress-timeline */
.progress-timeline {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center;
  padding-top: 50px;
}


.total_box{
  display: flex;
  justify-content: center;
  align-items: center;
}


.step {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border: #333 1px solid;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.completed {
  background-color: rgb(122, 179, 231);
  color: rgb(0, 0, 0);
  text-align: center;
}

.current {
  background-color: rgb(126, 204, 159);
  color: black; 
  text-align: center;
}

.line {
  width: 2px; 
  height: 88px; 
  background-color: rgb(124, 124, 124); 
}


/* Header */
.div-header {
  display: flex;
  justify-content: center;
  /* 메인 컨테이너 안의 콘텐츠를 가로로 중앙 정렬 */
  align-items: center;
}

.header {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 5px;
}

#title {
  font-size: 50px;
  text-align: center;
  display: inline;
  /*       상   우   하   좌 */
  margin: 0px 70px 0px 90px;
  align-items: center;
  background-color: white;
  border: none;
}

.notibell {
  display: inline;
  margin-left: 20px;
}

.noti {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

svg {
  width: 45px;
  right: 10px;
  align-items: center;
  justify-content: center;
}

.hr {
  margin: 10px 0px;
}

/* Footer */
.nav-container {
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-icon {
  font-size: 1.4rem;
}

#root > div > div > div.footer > nav > div > div > a:nth-child(1), #root > div > div > div.footer > nav > div > div > a:nth-child(2), #root > div > div > div.footer > nav > div > div > a:nth-child(3), #root > div > div > div.footer > nav > div > div > a:nth-child(4), #root > div > div > div.footer > nav > div > div > a:nth-child(5) {
  padding-right: 20px;
  padding-left: 20px;
}

#root > div > div > div.footer > nav > div {
  padding: 0px;
}

#root > div > div > div.footer > nav > div > div {
  margin: 0 auto;
}

.me-auto>a {
  font-size: 15px;
  padding: auto 20px;
  font-weight: 600;
  color: #707070;
  
}



/* Main */
.main-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

.task {
  margin: auto;
  padding: 0%;
  text-align: center;
  flex: 1;
}

.p {
  display: inline;
  margin: 0px;
  padding-right: 30px;
  color: #5a5d5a;
  font-weight: bold;
}

.quit {
  display: inline;
  color: #2ecc71;
  margin: 0px;
  font-weight: bold;
}

.quit_percent {
  display: inline;
  color: #50a5f0;
  margin: 0px;
  padding-right: 30px;
  font-weight: bold;
}

.main-container {
  padding-bottom: 60px;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  justify-content: center;
}

.main-container::-webkit-scrollbar {
  display: none;
}



.total_box {
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  display: block;
  width: calc(100% - 20px); 
  max-width: 370px; 
  padding: 5px 10px 3px 10px;
  box-sizing: content-box;
  height: 100px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.div-content {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-direction: row; 
  justify-content: center; 
  align-items: flex-start;
}

.bar_ex {
  flex: 1;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 20px;
}

.main_text {
  align-items: center;
  padding-top: 10px;
}

.b {
  font-weight: bold;
  font-size: 14px;

}

.i {
  font-size: 12px;
}

.b, .i {
  margin: 0px;
  display: block;
  display: inline-block;
}

.total_box p {
  margin: 2px 0;
}

.progress-bar {
  background-color: #2ecc71 !important;
  z-index: 1;
  }

.progress {
  width: 100%;
  background-color: rgb(245, 244, 244) !important;
  height: 10px !important;
  margin-top: 10px;
}

.progress-bar.completed .progress-bar{
  background-color: rgb(228, 228, 228) !important;
  color: rgb(228, 228, 228);
}

.progress-bar.current .progress-bar{
  background-color: #2ecc71 !important;
}

.progress-bar.pending .progress-bar{
  background-color: rgb(221, 221, 221) !important;
  color: rgb(221, 221, 221);
}

/* Cal_Button */
#btn{
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
}

#lk{
  float: right;
}


/* Frist */
.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5; /* 배경 색상 */
  padding-bottom: 150px;
}

.first-title h1 {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  color: #333;
  font-weight: bold;
}

.btn-join, .btn-login {
  width: 100px;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 1.2rem;
}

.btn-join {
  background-color: #50a5f0 !important;
  border-color: #50a5f0 !important;
  font-weight: bold !important;
}

.btn-login {
  background-color: #50a5f0 !important;
  border-color: #50a5f0 !important;
  font-weight: bold !important;
}

.first-title {
  font-size: 1.8rem;
  margin-bottom: 3.5rem;
  color: #333;
  font-weight: bold;
}

.div-first-title {
  text-align: center;
}

.first-options {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.first-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-color: #e0e0e0; 
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 10px;
}

.first-option:hover {
  background-color: #d0d0d0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.icon>path {
  size: 60rem !important;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 6rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 70px;

}

.first-option-select {
  text-align: center;
}

.first-option-select span {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

.joinemail {
  font-size: 18px;
}

.join-email{
  font-size: 12px;
  margin-top: 10px;
}

.sendbtn {
  border: none;
  background-color:  rgb(221, 221, 221);
  border-radius: 5px;
  padding: 7px;
  color: #414141;
}

button.setbtn:hover {
  background-color: #21f121;
}